.git
.env
.env.*
!.env.example
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
vendor
*.md
tests
phpunit.xml
.phpunit.result.cache
.idea
.vscode
